.footer {
  height: 300px;
  //color: red;
  //background-color: cyan;
	display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
	//
	//background-color: #333;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 12px;
  overflow: hidden;
  //background-color: #333333;

  li {
    float: left;
  padding: 12px;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    //background-color: #111111;
		color: beige;
		text-decoration: underline;
  }
}
